*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
    background-color: #FFFFFF; 
    color: #757575; 
    margin: 2%;
}

#contenedor {
    
    background-color: #FFFFFF; 
    padding: 20px;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#encabezado {
    width: 90%;
    background-color: #dddddd; 
    margin: 1em;
    border-radius: 5px;
    text-align: center;

    padding: 20px;
    color: #174581;

    background: linear-gradient(to bottom, 757575, rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}

#encabezado h1, #encabezado h2, #encabezado h4 {
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


#menu {
   
    width: 90%;
    height: 40px;
    background-color: #3c66b6; 
    margin: 1em;
    border-radius: 5px;
}

ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {
    color: #ffffff; 
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

.img{
    width: 100%;
    justify-items: center;
}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: black;
}

#pie{
    height: 55px;
    background-color: rgb(61, 61, 61);
    margin: 1.5em;
    text-align: center;
    
    border-radius: 5px;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#pie h4{
    padding: 15px;
    font-size: 20px;
    color: rgb(145, 145, 145);
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid #44729e; 
    vertical-align: top;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card:hover{
max-width: 350px;
}

.card img{
background-color: transparent;
}

.title{
color: rgb(38, 59, 92);
font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #174581; 
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: all 0.3s ease;
   
}

button:hover {
    background-color: #091c35;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seccion {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
    padding: 10px 0; 
    clear: both; 
}

.seccion h2 {
    margin: 0;
}


/* Estilos para combo box */
#selMarc {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
}

#selMarc option {
    background-color: #fff;
    color: #333;
}

#selMarc:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#selMarc option:hover {
    background-color: #007bff;
    color: #fff;
}


/*
flex box
*/

.contenedorFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.anta-regular {
    color: black !important;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  